
@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');

        .PAGE_NAME {
         font-family: 'Questrial', sans-serif;
         font-weight: bold;
         background-color: rgb(247, 129, 165);
         border-radius: 30px;
         margin : 120px;
         text-align: center;
         box-shadow: 20px 20px 5px grey;
        }

        .ADDUSER_PART {
        
        display: inline-block;
        margin :  30px 750px;
        width: 400px;
        height: 200px;
        border: 0;
        background-color: #EEEFF1;
        border-radius: 30px;
        
        }

        .ADDUSER {
            margin: 30px 80px;
            width: 300px;
            height: 100px;
        }

        button {
        width: 250px;
        height: 30px;
        font-size: 18px;
        font-weight: bold;
        border-radius: 10%;
        background: rgb(255, 228, 236);
    
        }

        
        .back-img {
            margin : 0px 130px;
        }